<h3>Hey there<img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="25px"></h3>
Thank you for your kind visit. It means a lot to me that you took the time to be here. I know how busy you are, and I truly value your time.


<br/>
<br/>
<h3>About this project</h3>
The project is developed using Angular.<br/>
The github page only demostrates the UI and requires the <a href="https://github.com/AnujDivkar/dotnet-core-authorization/">dot net core authorization</a> project to be setup as an API to work properly.<br/>
Check out the code repository here <a href="https://github.com/AnujDivkar/angular-signin-signup-ui">here</a>.<br/>
Go through the README.md file for instructions on setting up the code 

<br/>
<br/>
<h3>About me</h3>
I'm <a href="https://anujdivkar.github.io/">Anuj Divkar</a>, a passionate full-stack developer and software engineer from India.


<br/>
<br/>
<h3>Other projects on my profile</h3>
There are other cool projects on <a href="https://anujdivkar.github.io/">my profile</a>, kindly have a look.

<br/>
<br/>
Regards<br/>
<a href="https://anujdivkar.github.io/">Anuj Divkar</a>